[Unit]
Description=Bot that plays sounds on command
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/etc/berangere/
ExecStart=/usr/bin/python3 berangere.py -k %i
RestartSec=10s
Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target